.research-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}

/* Heading with background color */
.research-heading {
  /* background-image: url("/src/images/Research.jpg");  */
  background-image: url("/src/images/resubg.jpeg");
  background-color: #1e293b; /* fallback */
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  padding: 70px 20px;
  border-radius: 10px;
  text-align: center;
  color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.research-heading h2 {
  margin: 0;
  font-size: 56px;
  font-weight: bold;
}

/* Research boxes */
.research-box {
  background-color: rgba(245, 245, 245, 0.95); /* Light gray background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.7;
  color: #0f172a;
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* smooth hover effect */
}

.research-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.research-box h4 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.research-box ul {
  margin: 0 0 20px 20px;
  padding: 0;
}

.research-box ul li {
  margin-bottom: 6px;
}

/* Responsive */
@media (max-width: 800px) {
  .research-box {
    font-size: 15px;
    padding: 20px;
  }

  .research-heading h2 {
    font-size: 28px;
  }
}
